[
    {
        "wolframalpha_short_answer": "5VYEA9-PT7KE82TX7",
        "wolframalpha_conversational": "5VYEA9-94E3JREE3W",
        "wolframalpha_full_request": "5VYEA9-84Y69QQ5XG"
    }
]

# These API Keys were for the school project version.
# They will get deactivated between 12th and 27th April 2025